<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Requisição #{{myApp.selectedThread.id}}</ion-title>
  </ion-navbar>

  <ion-card [ngClass]="{true:'card-sucess', false:'card-failed'}[card_sucess]">

    <ion-card-content>
      <ion-item text-wrap no-padding>
        <p><b>{{myApp.selectedThread.text}}</b></p>
        <ion-avatar item-right no-padding><img [src]="img_rundeck"></ion-avatar>
      </ion-item>

      <ion-item text-wrap no-padding>
        <p>
          Requisição #{{myApp.selectedThread.id}} - {{myApp.selectedThread.creation_date}}
        </p>
        <ion-badge item-right>9 mensagens</ion-badge>
      </ion-item>


    </ion-card-content>
    <ion-row no-padding>

    </ion-row>
  </ion-card>

</ion-header>

<ion-content #page2>

    <ion-list style="padding-bottom: 150px;" class="messages">
      <ion-item text-wrap *ngFor="let mensagem of conversation">
        <ion-avatar item-left *ngIf="mensagem.doAssistente">
          <img [src]="img_assistente">
        </ion-avatar>
        <ion-avatar item-right *ngIf="mensagem.doCliente">
          <img [src]="img_usuario">
        </ion-avatar>
        <div *ngFor="let texto of mensagem.textos" [class.message_assistente]="mensagem.doAssistente" [class.message_usuario]="mensagem.doCliente">
            <div [innerHTML]="texto"></div>
        </div>

        <button ion-button clear small color="secondary" icon-center *ngIf="comment_type == 'question'">
          <ion-icon icon-right name='checkmark'></ion-icon>
        </button>

        <button ion-button clear small color="danger" icon-center *ngIf="comment_type == 'question'">
          <ion-icon icon-right name='close'></ion-icon>
        </button>

      </ion-item>
      <ion-item *ngIf="modoDigitando"><img src="img/snake-loader.gif"><div  style="color:silver;font-size:small">assistente digitando...</div></ion-item>

    </ion-list>

</ion-content>

<ion-footer>
  <form>
    <ion-item>
      <ion-input type="text" #cInputRequest placeholder="digite aqui" [(ngModel)]="inputText" name="inputText"></ion-input>
      <button ion-button item-right outline type="submit" [disabled]="inputText==''" (click)="newMessage()">Enviar</button>
    </ion-item>
  </form>
</ion-footer>
